<ul>
  <p style="color: gray">Get All Products</p>
  <li *ngFor="let post of posts">ID: {{post.id}}, ProductName: {{post.product}},ProductPrice: {{post.price}}</li>
</ul>



<div>
  <p style="color: gray">Get Product by ID</p>
  <input type="text" name="id" #di><br>
  <button (click)="getProductById(di.value)">submit</button><br>
  <div *ngFor="let id of prodId" >{{prodId[0].product}}</div>
</div>



<br>
<br>
<form>
  <label style="color: gray">POST new Product </label><br>
 <label>ID</label><br>
 <input id="id" type="text" name="id" #id><br>
 <label>Price</label><br>
 <input id="price" type="text" name="price" #price><br>
 <label>Product</label><br>
 <input id="product" type="text" name="product" #product><br>
 <label>Quantity</label><br>
 <input id="quantity" type="text" name="quantity" #quantity><br>
 <button (click)="postProduct(id.value, price.value, product.value, quantity.value)">submit</button><br>
</form>


<div>
  <p style="color: gray">Delete Product by ID</p>
  <input type="text" name="id" #dp><br>
  <button (click)="delProductById(dp.value)">submit</button><br>
</div>


<div>
  <p style="color: gray">Update Product quantity</p>
  <p style="color: darkblue">Enter Price</p>
  <input type="text" name="id" #up><br>
  <p style="color:darkblue">Enter ID to Update</p>
  <input type="text" name="id" #ui><br>
  <button (click)="updateProductById(up.value,ui.value)">submit</button><br>
</div>


<div style="color:red">{{err}}</div>
 